<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <style>title{
font-family: 'Courier New', Courier, monospace;
color: blue;
 }
 </style>
  <title>My Project Brief</title>

</head>
<style>body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: grey;
}
</style>
<body>
    <style>h1{
    font-family: sans-serif;
    color: red;
    }
    </style>
  <h1>Company Info</h1>
<img src="SCAM.JPG" alt="S.C.A.M">

<table border="1">

<thead>
    <tr>
        <th>Name</th>
            <th>Role</th>
            <th>Compnay Desciption... this company is super trust worthy and very
                reliable support staff to consistantly help you a moments notice
            </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in groupMembers)
            {
                <tr>
                    <td>@member.Name</td>
                    <td>@member.Role</td>
                </tr>
            }
        </tbody>

</table>
<section>
<h2>Proposal</h2>
<p>
    This company is very humble all it wants is your social insurence
             information and the site will prompt you various times to put
              in senstitive 
               information about yourself.
</p>
<li>1. A questionaire that will ask you many different questions that will 
    leave you peniless
</li>
<li>
    2. we have a dedicated service that will track all the data you have so  
    you never leave anything out
</li>
<li>
    3. this is a pair of glasses with little cameras in it to rewatch your favorite
    parts of life
</li>

<p>We will need various staff to monitor the services we have like our tracking website
    which will need coding staff to monitor and record data for security purposes
    we will also need people with linguistic skills to make new questionares and 
    people to take answers and store them on other servers safely very far away
    from you.
</p>
</section>

</body>

</html>